.dispositivos{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cimadispo{
    width: 100%;
    height: 250px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 110px;
    padding-right: 100px;
}
.titledispo{
    font-size: 60px;
}
.listdispo{
    display: flex;
    gap: 10px;
    list-style: none;
}
.lindispo{
    margin-left: 13px;

}
.adispo{
    color: #b3b3b3;
    font-size: 17px;
    position: relative;
    display: block;
}
.adispo::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 0;
    border-radius: 4px;
    background-color: #9956ca;
    top: 75%;
    transform: translateX(-50%);
    left: 50%;
    transition: .2s;
}
.adispo:hover::after{
    width: 30px;
}
.adispo:hover{
    color: black;
}


.centrodispo{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cubodispo{
    height: 430px;
    width: 270px;
    background-color: white;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(238, 238, 238);
    transition: 4ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cubodispo:hover{
    box-shadow: 3px 3px 5px 5px rgb(238, 238, 238);
}
.imgdispo{
    width: 100%;
    height: 240px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.infodispo{
    width: 100%;
    height: 150px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    position: relative;
}
.nomedispo{
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}
.precodispo{
    font-size: 13px;
}
.compradispo{
    border: #9956ca 1px solid;
    padding: 15px;
    /* float: left; */
    position: absolute;
    top: 60%;
    left: 72%;
    border-radius: 100%;
    font-size: 20px;
    color: #9956ca;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.baixodispo{
    width: 100%;
    height: 150px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.btntrocas{
    border: #9956ca 1px solid;
    padding: 14px;
    border-radius: 100%;
    font-size: 20px;
    color: #9956ca;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}



@media screen and (max-width: 414px) {
    .dispositivos{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cimadispo{
        width: 100%;
        height: 200px;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        padding-left: 15px;
    }
    .titledispo{
        font-size: 50px;
        margin-bottom: 20px;
        text-align: start;
    }
    .listdispo{
        display: flex;
        gap: 10px;
        list-style: none;
    }
    .lindispo{
        margin-left: 9px;
    
    }
    .adispo{
        color: black;
        font-size: 19px;
        position: relative;
        display: block;
    }
    .adispo::after{
        content: "";
        position: absolute;
        height: 5px;
        width: 0;
        border-radius: 4px;
        background-color: #9956ca;
        top: 75%;
        transform: translateX(-50%);
        left: 50%;
        transition: .2s;
    }
    .adispo:hover::after{
        width: 30px;
    }
    .centrodispo{
        width: 100%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
    }
    
}